{% extends "base.html" %}
{% block content %}

<div style="color: #e3cdbc; background-color: #171717; height:100vh;">

    <div style="padding-top: 90px; text-align: center">

        <div style="font-size:40px; font-family: Gravity;">
            <b>What is Gifify?</b>
        </div>

        <div style="font-size:20px; font-family: Gravity; padding-top:15px; display: inline-block; text-align: left;">
            <p>In short, Gifify is a pain-free Video-to-Gif converter. It accepts <br>
                a variety of formats and lets you customize it with either video <br>
                effects or text. Though a simple application, the learning experience I had <br>
                using Django was invaluable. </p>
        </div>

    </div>

    <div style="padding-top: 10px; text-align: center">
        <div style="font-size:20px; font-family: Gravity; padding-top:15px; display: inline-block; text-align: left;">
            <p>For this project, we were also required to follow the Waterfall Model. <br>
                Below I have included the documentation which was made throughout the <br>
                course of the semester for this project.</p>
        </div>
    </div>

    <div style="text-align:center;">
        <div style="font-size:20px; font-family: Gravity; padding-top:15px; display: inline-block; text-align: left;">
             <ul>
              <li><a href="https://drive.google.com/file/d/1aGwYeaFPzJGB_vdM2NA85EOh8hBhYVE-/view?usp=sharing">Project Proposal</a></li>
              <li><a href="https://drive.google.com/file/d/1pVoMwG-rXcEF3gk16fPuWzEpntmMZz_m/view?usp=sharing">Requirements Specification</a></li>
              <li>Architecture & Design Specification Document</li>
              <li>Validation Test Plan and Results</li>
              <li>Output of the Executable Software</li>
              <li>Project Post-Mortem</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}